:root {
    --color-green: hsl(100, 50%, 60%);
    --color-red: hsl(0, 68%, 70%);
    --body-background: hsl(0, 0%, 12%);
    --border-color: hsl(0, 0%, 20%);
}


* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 4rem 10rem 10rem 1fr;
    /* gap: 1rem; */

    min-height: 100vh;
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
    color: hsl(0, 0%, 85%);
}

.toast {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);

    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background-color: hsl(100, 90%, 90%);
    color: #333333;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.toast.show {
    opacity: 1;
}

.header {
    grid-column: span 2;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 2rem;

    border-bottom: 2px solid var(--border-color);
}

.header h1 {
    margin: 0;
}

.scoreboard {
    background-color: var(--body-background);
    grid-area: 2 / 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0 3rem;
}

.scoreDiv {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsl(0, 0%, 15%);
    border: 2px solid var(--border-color);
    border-radius: 0.5rem;
    width: 8rem;
    height: 8rem;
}

h1.score {
    margin: 0;
    font-size: 6rem;
}

.gameStats {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(1fr, 4);
    justify-items: start;
    align-items: center;


    height: 8rem;
    width: 8rem;
    font-size: 1rem;
}

span.square {
    display: block;
    height: 1.25rem;
    width: 1.25rem;

    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    text-align: center;
}

span.green {
    background-color: var(--color-green);
}

span.red {
    background-color: var(--color-red);
}

.controlsDiv {
    background-color: var(--body-background);
    grid-area: 3 / 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 0 1rem;

    padding: 1rem 2rem;
}

button {
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
}

button.controlButton {
    width: 100%;
    max-width: 14rem;
    min-width: 8rem;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    background-color: #f5f5f5;
}

button.controlButton:hover:not(:disabled) {
    background-color: hsl(0, 0%, 65%);
    cursor: pointer;
}

button.controlButton:active:not(:disabled) {
    background-color: var(--color-green);
}

button.controlButton:disabled {
    cursor: not-allowed;
}


.eventsDiv {
    background-color: var(--body-background);
    grid-area: 4 / 1;

    border-top: 2px solid var(--border-color);
    padding: 1rem;
    
    display: flex;
    justify-content: center;
    align-items: start;
}



.summaryDiv {
    background-color: var(--body-background);
    grid-area: span 2 / 2;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4rem;
}

.recordContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.recordDiv {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsl(0, 0%, 15%);
    border: 2px solid var(--border-color);
    border-radius: 0.5rem;
    width: 16rem;
    height: 8rem;
}

.sessionStats {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(1fr, 5);
    justify-items: start;
    align-items: center;

    padding: 2rem;
    height: 100%;
    width: 100%;
    font-size: 1rem;
}

.recentGames {
    grid-area: 2 / span 3;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

span.squareLarge {
    display: block;
    height: 2rem;
    width: 2rem;

    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
}

.gamesDiv {
    background-color: var(--body-background);
    grid-area: 4 / 2;

    border-top: 2px solid var(--border-color);

    padding: 1rem;
    
    display: flex;
    justify-content: center;
    align-items: start;
}


table {
    border: 1px solid var(--border-color);
    border-collapse: collapse;
    text-align: center;
    color: hsl(0, 0%, 75%);
}

th, td {
    padding: 0 1rem;
    border-left: 1px solid var(--border-color);
}

thead {
    background-color: hsl(0, 0%, 15%);
    height: 2rem;
}

tbody tr {
    height: 1.5rem;
}

tbody tr:hover td {
    background-color: var(--color-green);
    color: #333333;
}

tbody tr:nth-child(odd) {
    background-color: hsl(0, 0%, 30%);
}

tbody tr:nth-child(even) {
    background-color: hsl(0, 0%, 20%);
}

button.copyButton {
    cursor: pointer;
    background-color: var(--color-green);
}

button.deleteButton {
    cursor: pointer;
    background-color: var(--color-red);
}